.root {

    -fx-background-color: #510A32;
    -fx-background-radius: 20;
    -fx-stroke-width: 5;
    -fx-stroke-color: #C8C8C8;


}

.button{
    -fx-text-fill: #006464;
    -fx-background-color: #DFB951;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}
